/* STYLE SHEET */

/* FONT SECTION */
/* 
This is where all the style sheet information for the fonts goes!

To add a new font and replace the heading-font, subheading-font, or body-font fonts:
1. Find your font online and download it! You can use Google Fonts for this 
2. Install the font
3. Upload the .ttf file to the fonts folder
4. Navigate back to the style.css file (this one!)
5. Keep the font-family the same!
6. Replace the src section's url with ./fonts/ and then your font's name (including the .ttf)!
*/

/* HEADING FONT */
@font-face {
    font-family: heading-font;
    src: url(./fonts/Archivo-Black.ttf); 
}

/* SUBHEADING FONT */
@font-face {
    font-family: subheading-font;
    src: url(./fonts/LeagueSpartan-Regular.ttf); 

}

/* BODY FONT */
@font-face {
    font-family: body-font;
    src: url(./fonts/Poppins-Light.ttf); 

}

/* COLOR CODES */
/*
The :root section is where you put all your HEX color codes! I'd recommend using Coolors to create really aesthetic color palettes!

To replace or add color codes:
1. Rename the color as needed (examples: --red, --sunkissed-orange, --ieee-yellow)
2. Add the HEX code
3. Using CTRL+F or CMD+F, search for the old color's name and then replace all references (tip: these color references will be surrounded by the words var()!)

Example:
--oblivion: #1c1d1e; --> --ieee-yellow: #FFFF00l;
Then, CTRL+F or CMD+F for references to --oblivion and replace it with --ieee-yellow!
*/
:root {
    --oblivion: #1c1d1e;
    --night-sky: #242728;
    --outer-space: #3f4649;
    --cadet-gray: #9499a0;
    --ghost-white: #e8ebf7;
    --lavender-web: #cad5e8;
    --powder-blue: #acbed8;
    --antique-white: #ffe9d2;
    --sunset: #f5c67f;
    --sandy-brown: #f4a261;
    --burnt-sienna: #e76f51;
    --chestnut: #904735;
}

/* FEATURES OF WHOLE WEBSITE */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;

}

body {
    background-image: radial-gradient(circle at bottom, var(--chestnut) 40%, var(--night-sky) 70%);

}

.navbar {
    background-color: var(--night-sky);
    height: 100px;
    width: 100%;
    position: sticky;
    background-image: linear-gradient(to bottom, var(--oblivion) 50%, var(--night-sky) 90%);
    
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: left; 
    padding: 35px;

}

#navbar_logo {
    background-image: url("./images/ieee_ucf_logo.jpeg");
    background-size: 100%;
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: left;
    position: absolute;
    left: 40px;

}

.navbar_menu {
    display: flex;
    justify-content: flex-end; 
    gap: 30px;
    position: absolute; 
    right: 40px;
    
    list-style-type: none;
    align-items: center;

}

.navbar_item a {
    color: var(--antique-white);
    text-decoration: none;
    font-size: 1.1rem;
    font-family: subheading-font;

}

.navbar_item a:hover {
    color: var(--burnt-sienna);

}

.navbar_img a:hover {
    filter: hue-rotate(-15deg) brightness(0.8);

}

.navbar_img a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-size: cover;

}

.navbar_item_resume {
    background-image: url("./images/resume.png");
    filter: hue-rotate(0deg)

}

.navbar_item_github {
    background-image: url("./images/github.png");
    filter: hue-rotate(0deg)
}

.navbar_item_linkedin {
    background-image: url("./images/linkedin.png");
    filter: hue-rotate(0deg)

}

.hero_container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding-top: 3vh;
    padding-left: 10vh;
    padding-bottom: 10vh;
    padding-right: 10vh;
    gap: 10vw;
}

.hero_images_container {
    position: relative;

}

.hero_box {
    background-color: var(--sandy-brown);
    height: 90%;
    width: 35vw;
    border-radius: 25px;

}

/* PROFILE PICTURE SECTION */
/*
This is where your profile picture goes! 

To upload and replace Gudetama with your profile picture:
1. Upload your image to the images folder
2. Rename the image as needed
3. Navigate back to the style.css file (this one!)
4. In the background-image section in the .hero_profile_picture section, replace the url with ./images/ and then your profile picture's name (including the .png, .jpg, etc!) in quotations
*/
.hero_profile_picture {
    background-image: url("./images/your_profile_picture.png");
    background-size: cover;
    border-radius: 25px;
    
    height: 20vw;
    width: 20vw;

    position: absolute; 
    bottom: 0px; 
    right: -5vw; 
    z-index: 1; 

}

.hero_summary_container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    gap: 10px;

    justify-content: center;

}

.hero_name {
    color: var(--sunset);
    font-size: 9vh;
    font-family: heading-font;

}

#hero_skills {
    color: var(--burnt-sienna);
    font-size: 4.5vh;
    font-family: subheading-font;

}

.hero_summary {
    color: var(--antique-white);
    font-size: 2.5vh;
    font-family: body-font;

}

#hero_learn_more_button {
    background-color: var(--sandy-brown);
    height: 7vh;
    width: 30vw;
    border: none;
    cursor: pointer;
    appearance: none;
    border-radius: 15px;

    color: var(--antique-white);
    font-size: 4vh;
    font-family: body-font;

}

#hero_learn_more_button:hover {
    background-color: var(--burnt-sienna);

}

.about_container {
    display: flex;
    flex-direction: row;
    height: 80%;
    height: 100vh;
    padding: 10vh;
    gap: 10vw;

}

.about_text_container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 10px;

}

.about_heading {
    color: var(--sunset);
    font-size: 8vh;
    font-family: heading-font;

}

.about_body {
    color: var(--antique-white);
    font-size: 2vh;
    font-family: body-font;

}

.about_image_carousel_container {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#about_image_carousel {
    height: 100%;
    width: 40vw;
    border-radius: 25px;
    background-size: cover;

}

.about_image_carousel_buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 15vw;

}

#about_left_button {
    background-image: url("./images/left_arrow.png");
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    appearance: none;

    height: 4vh;
    width: 2vw;

}

#about_right_button {
    background-image: url("./images/right_arrow.png");
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
    appearance: none;

    height: 4vh;
    width: 2vw;

}
